PORT=5050
JWT_SECRET=supersecretjwtkeyforretailposapp
DATABASE_URL="postgresql://user:password@127.0.0.1:5432/consesion?schema=public"
PLATFORM_URL="http://localhost:5000"
PLATFORM_INTERNAL_API_KEY="platform-internal-secret-key-123"
